.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1; /* 부모 요소의 크기를 벗어나지 않는 선에서 최대 크기만큼 설정 */
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}
