@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  width: 100%;
  background-color: #202632;
  display: flex;
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

.reservation-list {
  overflow-y: scroll;
  transition: max-height 0.2s ease-in-out;
  max-height: 0;
}

.reservation-list.open {
  max-height: 20rem;
}
